<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>7h3 5h0p</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <div class="container">

        <header class="container__header header">
            <div class="header__company-name">
                <a href="#" class="header__company-link">7h3&nbsp;5h0p</a>
            </div>
            <div class="header__img-logo">
                <a href="#">
                    <img src="img/logo.jpg" alt="logo">
                </a>     
            </div>
            <div class="header__phone">
                <span>+7(812)2&#149;12&#149;85&#149;06</span>         
            </div>
        </header>

        <div class="container__nav nav">
            <% const navMenu = ['LISP', 'OCaml', 'JavaScript', 'Python', 'PHP']; %>
            <div class="nav__menu">
                <% navMenu.forEach((item, index) => { %>
                    <a href="#" class="nav__link <% if (index === 0) { %><%= 'nav__link_active' %><% } %>"><%= item %></a>
                <% }); %>
            </div>
            <div class="nav__search">
                <form action="search.php" method="GET" name="searchForm">
                    <input type="text" class="nav__input" name="search">
                </form>
            </div>
        </div>

        <nav class="container__navigation navigation">
            <% const navigation = ['LISP', 'Одежда', 'Футболки']; %>
            <% navigation.forEach((item, index) => { %>
                <a href="#" class="navigation__link <% if (index === 2) { %><%= 'navigation__link_active'%><% } %>"><%= item %></a>
            <% }); %>
        </nav>

        <div class="container__sections sections">
            <% const tshirt = {
                'src': ['img/tshirts/tshirt_white.jpg', 'img/tshirts/tshirt_yellow.jpg', 'img/tshirts/tshirt_green.jpg'],
                'title': 'Футболка Alien technology',
                'description': 'Состав: 100% хлопок, динамическая типизация, польская нотация. Производство: Россия.',
                'price': '1500₽',
                'size-text': 'Размер:',
                'size': ['S', 'M', 'L'],
                'color-text': 'Цвет:',
                'color': ['white', 'yellow', 'green']
            }; %>
            <div class="container__sections_left sections__left-section left-section">
                <img src="img/tshirts/tshirt_white.jpg" alt="tshirt" width="100%" class="left-section__img">
            </div>
    
            <div class="container__sections_right sections__right-section right-section">
                <h1 class="right-section__title"><%= tshirt.title %></h1>
                <p class="right-section__description"><%= tshirt.description %></p>
                <span class="right-section__price"><%= tshirt.price %></span>
                <form action="choice.php" method="POST" name="choiceForm">
                    <div class="right-section__category">
                        <p class="right-section__size-text"><%= tshirt['size-text'] %></p>
                        <% tshirt.size.forEach((item, index) => { %>
                        <input
                            name="size"
                            class="right-section__size <% if (index === 1) { %><%= 'right-section__size_active'%><% } %>" 
                            placeholder="<%= item %>" 
                            readonly></input>
                        <% }); %>
                    </div>
                    <div class="right-section__category">
                        <p class="right-section__color-text"><%= tshirt['color-text'] %></p>
                        <% tshirt.color.forEach((item, index) => { %>
                        <input
                            name="color"
                            class="right-section__color <% if (index === 0) { %><%= 'right-section__color_active'%><% } %> right-section__color_<%= item %>" 
                            readonly></input>
                        <% }); %>
                    </div>
                    <button class="right-section__btn-buy">Купить</button>
                </form>    
                <div class="right-section__later">
                    <a href="#" class="right-section__later-link" >Отложить на потом</a>
                </div>
            </div>
        </div>

        <footer class="container__footer footer">
            <div class="footer__top top-footer">
                <div class="top-footer__service footer-service">
                    <a href="#" class="footer-service__title">Сервис и поддержка</a>
                    <% const serviceLeft = ['Как сделать заказ', 'Возврат товара', 'Публичная оферта', 'Доставка']; %>
                    <ul class="footer-service__left">
                        <% serviceLeft.forEach(item => { %>
                            <li><a href="#"><%= item %></a></li>
                        <% }); %>
                    </ul>
                    <% const serviceRight = ['Способы оплаты', 'Правила продажи', 'Возврат денежных средств', 'Вопросы и ответы']; %>
                    <ul class="footer-service__right">
                        <% serviceRight.forEach(item => { %>
                            <li><a href="#"><%= item %></a></li>
                        <% }); %>
                    </ul>
                </div>
                <div class="top-footer__about footer-about">
                    <a href="#" class="footer-about__title">О компании</a>
                    <% const aboutLeft = ['О нас', 'Контакты', 'Вакансии', 'Партнерам']; %>
                    <ul class="footer-about__left">
                        <% aboutLeft.forEach(item => { %>
                            <li><a href="#"><%= item %></a></li>
                        <% }); %> 
                    </ul>
                    <% const aboutRight = ['Cертификаты', 'Преимущества', 'Наши скидки']; %>
                    <ul class="footer-about__right">
                        <% aboutRight.forEach(item => { %>
                            <li><a href="#"><%= item %></a></li>
                        <% }); %> 
                    </ul>
                </div>
                <div class="top-footer__features footer-features">
                        <% const features = ['бесплатная доставка от 4000 ₽', 'пробники в подарок при каждой покупке', 'акции и подарки за покупку']; %>
                    <ul>
                        <% features.forEach((item, index) => { %>
                            <li><a href="#" class="
                                <% if (index === 0) { %>
                                    <%= classList="footer-features__delivery" %>
                                <% } else if (index === 1) { %>
                                    <%= classList="footer-features__heart" %>
                                <% } else if (index === 2) { %>
                                    <%= classList="footer-features__cup" %>
                                <% } %>
                            "><%= item %></a>
                        </li>
                        <% }); %> 
                    </ul>
                </div>
                <div class="top-footer__social">
                    <ul class="top-footer__social-list">
                        <li class="top-footer__social-item">
                            <a href="#" class="top-footer__social-link">
                                <img src="img/icons/facebook.svg" alt="facebook" width="13px">
                            </a>
                        </li>
                        <li class="top-footer__social-item">
                            <a href="#" class="top-footer__social-link">
                                <img src="img/icons/twitter.svg" alt="twitter" width="25px">
                            </a>
                        </li>
                        <li class="top-footer__social-item">
                            <a href="#" class="top-footer__social-link">
                                <img src="img/icons/instagram.svg" alt="instagram" width="25px">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer__bottom">
                <hr class="footer__bottom-line">
                2005-2017 &#169; 7h350p.ru - модный интернет-магазин одежды, обуви и аксессуаров.<br>
                Все права защищены. Доставка по всей России!
            </div>
        </footer>

    </div>

<script src="js/scripts.js"></script>
</body>
</html>
