<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>7h3 5h0p</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <div class="container">

        <header class="container__header header">
            <div class="header__company-name">
                <a href="#" class="header__company-link">7h3 5h0p</a>
            </div>
            <div class="header__img-logo oggetto-logo">
                <a class="oggetto-logo__link" href="#">
                    <img class="oggetto-logo__img" src="img/logo.jpg" alt="logo">
                </a>
            </div>
            <div class="header__phone phone">
                <span class="phone__number">+7(812)2•12•85•06</span>
            </div>
        </header>

        <div class="container__nav nav">
            <% const navMenu = ['LISP', 'OCaml', 'JavaScript', 'Python', 'PHP']; %>
            <div class="nav__menu">
                <% navMenu.forEach((item, index) => { %>
                    <a href="#" class="nav__link <% if (index === 0) { %><%= 'nav__link_active' %><% } %>"><%= item %></a>
                <% }); %>
            </div>
            <div class="nav__search">
                <form action="search.php" method="GET" name="searchForm">
                    <input type="search" class="nav__input" name="search">
                </form>
            </div>
        </div>

        <nav class="container__breadcrumbs breadcrumbs">
            <% const breadcrumbs = ['LISP', 'Одежда', 'Футболки']; %>
            <% breadcrumbs.forEach((item, index) => { %>
                <a href="#" class="breadcrumbs__link <% if (index === 2) { %><%= 'breadcrumbs__link_active'%><% } %>"><%= item %></a>
            <% }); %>
        </nav>

        <div class="container__sections sections">
            <% const tshirt = {
                'src': 'img/tshirt_white.jpg',
                'title': 'Футболка Alien technology',
                'description': 'Состав: 100% хлопок, динамическая типизация, польская нотация. Производство: Россия.',
                'price': '1500₽',
                'size-text': 'Размер:',
                'size': ['S', 'M', 'L'],
                'color-text': 'Цвет:',
                'color': ['white', 'yellow', 'green']
            }; %>
            <div class="container__sections_left sections__product-image product-image">
                <img src="<%= tshirt.src %>" alt="tshirt" class="product-image__img">
            </div>

            <div class="container__sections_right sections__product-info product-info">
                <h1 class="product-info__title"><%= tshirt.title %></h1>
                <p class="product-info__description"><%= tshirt.description %></p>
                <span class="product-info__price"><%= tshirt.price %></span>
                <form action="choice.php" method="POST" name="choiceForm" id="choiceForm">
                    <div class="product-info__category">
                        <p class="product-info__size-text"><%= tshirt['size-text'] %></p>
                        <% tshirt.size.forEach((item, index) => { %>
                        <input
                            name="size"
                            class="product-info__size <% if (index === 1) { %><%= 'product-info__size_active'%><% } %>"
                            placeholder="<%= item %>"
                            readonly>
                        <% }); %>
                    </div>
                    <div class="product-info__category">
                        <p class="product-info__color-text"><%= tshirt['color-text'] %></p>
                        <% tshirt.color.forEach((item, index) => { %>
                        <input
                            data-color="<%= item %>"
                            name="color"
                            class="product-info__color <% if (index === 0) { %><%= 'product-info__color_active'%><% } %> product-info__color_<%= item %>"
                            readonly>
                        <% }); %>
                    </div>
                    <button class="product-info__btn-buy">Купить</button>
                </form>
                <div class="product-info__later">
                    <a href="#" class="product-info__later-link" >Отложить на потом</a>
                </div>
            </div>
        </div>

        <footer class="container__footer footer">
            <div class="footer__top top-footer">
                <div class="top-footer__service footer-service">
                    <p class="footer-service__title">Сервис и поддержка</p>
                    <% const serviceLeft = ['Как сделать заказ', 'Возврат товара', 'Публичная оферта', 'Доставка']; %>
                    <ul class="footer-service__left">
                        <% serviceLeft.forEach(item => { %>
                            <li class="footer-service__item">
                                <a href="#" class="footer-service__link">
                                    <%= item %>
                                </a>
                            </li>
                        <% }); %>
                    </ul>
                    <% const serviceRight = ['Способы оплаты', 'Правила продажи', 'Возврат денежных средств', 'Вопросы и ответы']; %>
                    <ul class="footer-service__right">
                        <% serviceRight.forEach(item => { %>
                            <li class="footer-service__item">
                                <a href="#" class="footer-service__link">
                                    <%= item %>
                                </a>
                            </li>
                        <% }); %>
                    </ul>
                </div>
                <div class="top-footer__about footer-about">
                    <p class="footer-about__title">О компании</p>
                    <% const aboutLeft = ['О нас', 'Контакты', 'Вакансии', 'Партнерам']; %>
                    <ul class="footer-about__left">
                        <% aboutLeft.forEach(item => { %>
                            <li class="footer-about__item">
                                <a href="#" class="footer-about__link"></a>
                                    <%= item %>
                                </a>
                            </li>
                        <% }); %>
                    </ul>
                    <% const aboutRight = ['Cертификаты', 'Преимущества', 'Наши скидки']; %>
                    <ul class="footer-about__right">
                        <% aboutRight.forEach(item => { %>
                            <li class="footer-about__item">
                                <a href="#" class="footer-about__link">
                                    <%= item %>
                                </a>
                            </li>
                        <% }); %>
                    </ul>
                </div>
                <div class="top-footer__features footer-features">
                        <% const features = ['бесплатная доставка от 4000 ₽', 'пробники в подарок при каждой покупке', 'акции и подарки за покупку']; %>
                    <ul>
                        <% features.forEach((item, index) => { %>
                            <li class="footer-features__item">
                                <a href="#" class="
                                <% if (index === 0) { %>
                                    <%= 'footer-features__delivery'; %>
                                <% } else if (index === 1) { %>
                                    <%= 'footer-features__heart'; %>
                                <% } else if (index === 2) { %>
                                    <%= 'footer-features__cup'; %>
                                <% } %>
                            "><%= item %></a>
                            </li>
                        <% }); %>
                    </ul>
                </div>
                <div class="top-footer__social footer-social">
                        <% const socials = ['facebook', 'twitter', 'instagram']; %>
                    <ul class="footer-social__list">
                        <% socials.forEach(item => { %>
                            <li class="footer-social__item">
                                <a href="#" class="footer-social__link">
                                    <img src="img/<%= item %>.svg" alt="<%= item %>" class="footer-social__<%= item %>">
                                </a>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            </div>

            <div class="footer__bottom">
                <hr class="footer__bottom-line">
                <p>2005-2017 &#169; 7h350p.ru - модный интернет-магазин одежды, обуви и аксессуаров.<br>
                Все права защищены. Доставка по всей России!</p>
            </div>
        </footer>

    </div>

<script src="js/scripts.js"></script>
</body>
</html>
